@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-mcgpalette0: (
  50: #e7e9f7,
  100: #c4c8ec,
  200: #9da4df,
  300: #7680d2,
  400: #5864c9,
  500: #3b49bf,
  600: #3542b9,
  700: #2d39b1,
  800: #2631a9,
  900: #19219b,
  A100: #d1d4ff,
  A200: #9ea3ff,
  A400: #6b73ff,
  A700: #525bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$keeptup-policies-primary: mat-palette($md-mcgpalette0);
$keeptup-policies-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$keeptup-policies-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$keeptup-policies-theme: mat-light-theme(
  (
    color: (
      primary: $keeptup-policies-primary,
      accent: $keeptup-policies-accent,
      warn: $keeptup-policies-warn,
    ),
  )
);

$custom-typography: mat-typography-config(
  $font-family: "Montserrat",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($keeptup-policies-theme);
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.container {
  --bs-gutter-x: 3rem;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-right: auto;
  margin-left: auto;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.fw-bold {
  font-weight: bold !important;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
